robottestfinal/src/main/app/robottestfinal.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:robo="http://www.mulesoft.org/schema/mule/robo" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/robo http://www.mulesoft.org/schema/mule/robo/current/mule-robo.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <robo:config name="Robo" robotAddr="0FA5" doc:name="Robo"/>
    <http:request-config name="HTTP_Request_Configuration" host="hackaton.cloudhub.io" port="80" doc:name="HTTP Request Configuration"/>
    <flow name="robottestfinalFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="HTTP"/>
        <logger message="#[message.inboundProperties['http.query.params'].get('command')]" level="INFO" doc:name="Logger"/>
        <robo:send-command-to-parse config-ref="Robo" commandToParse="#[message.inboundProperties['http.query.params'].get('command')]" doc:name="Robo"/>
    </flow>
    <flow name="robottestfinalFlow2">
        <poll doc:name="Poll">
            <http:request config-ref="HTTP_Request_Configuration" path="getMovement" method="GET" doc:name="HTTP"/>
        </poll>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <robo:send-command-to-parse config-ref="Robo" commandToParse="#[payload]" doc:name="Robo"/>
    </flow>
    <flow name="robottestfinalFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="getHelp" doc:name="HTTP"/>
        <robo:get-help config-ref="Robo" doc:name="Robo"/>
    </flow>
</mule>